*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 97px;
    
}
header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
header img{
    width: 62px;
    height: 62px;
}
header h1{
    color: #3491b2;
    font-size: 28pt;
}
header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
header a{
    text-decoration: none;
    color: #979797;
    font-size: 16pt;
}
header a:hover{
    border-top: #4eb1d5 solid 2px;
}

/*section Containerdiaporama*/
.Containerdiaporama{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.Containerdiaporama img{
    width: 100%;
}
.Containerdiaporama .image1{
    animation: infinite;
    animation-duration: 7s;
    animation-name: image1;
    box-shadow: rgb(255, 0, 0) 2px 2px 5px;
}
.Containerdiaporama .image2{
    position: absolute;
    animation:infinite;
    animation-duration: 7s;
    animation-name: image2;
    box-shadow: black 2px 2px 5px;
}
.Containerdiaporama .image3{
    position: absolute;
    animation: infinite;
    animation-duration: 7s;
    animation-name: image3;
    box-shadow: blueviolet 2px 2px 5px;

}
@keyframes image1{
    0%{opacity: 1; }
    25%{opacity: 0; }
    50%{opacity: 0; }
    100%{opacity: 1; }
   
}
@keyframes image2{
    0%{opacity: 0; }
    25%{opacity: 1; }
    50%{opacity: 0; }
    100%{opacity: 0; }
   
}
@keyframes image3{
    0%{opacity: 0; }
    25%{opacity: 0; }
    50%{opacity: 1; }
    100%{opacity: 0; }
   
}

.Containerdiaporama div{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    margin-left: 150px;
    margin-top: 150px;
}
.Containerdiaporama h1{
    color: white;
    font-size: 36pt;
    text-transform: uppercase;
    width: 700px;
    
}

.Containerdiaporama span{
    color: #5dadd3; 
}
.Containerdiaporama h2{
    color: white;
    font-size: 16pt;
    
}


.Containerdiaporama button{
    background-color: #4eb1d5;
    width: 126px;
    height: 47px;
    border-radius: 3px;
    color: white;
    font-size: 18pt;
    border-style: none;
    
}


/*Container nos services*/
.Containernosservices{
   display: flex;
   flex-direction: column;
   gap: 20px;
   
}
.Containernosservices h1{
    margin: 0 auto;
    font-size: 44pt;
    text-transform: uppercase;
}
.Containernosservices p{
    color: #767676;
    font-size: 15pt;
    margin: 0 auto;
}
#slider-label{
    margin: 0 auto;
}
.imageettexte{
    display: flex;
   align-items: center;
   height: 688px;
}
.article{
    display: flex;
}
.article span{
    font-weight: bold;
    font-size: 16pt;
    color: black;
}
.article p{
    font-size: 16pt;
}
.blocarticle{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*Containernosprojets*/
.Containernosprojets{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Containernosprojets h1{
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 44pt;
}
.Containernosprojets p{
    color: #767676;
    font-size: 15pt;
    margin: 0 auto;
}
.Containernosprojets ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    height: 48px;
    width: 500px;
    align-items: center;
    font-size: 16pt;
    color: #767676;
    background-color: #e5e5e5;
    border-radius: 10px;
    padding-right: 7px;
}
.Containernosprojets span{
    background-color: #5dadd3;
    padding: 11px;
    border-radius: 10px;
    color: white;
}
.Containernosprojets div{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.Containernosprojets img{
    height: 300px;
}

/*Container contact*/
.Containercontact{
    display: flex;
flex-direction: column;
}
.Containercontact img{
    object-fit:contain;
}
block{
    background-color: #b8e0ee;
    width: 100%;
    height:550px;
    filter: opacity(0.5);
    position: absolute;
    margin-top: 20px;
}


.Containercontact form{
    display: flex;
    flex-direction: column;
    background-color: #e8f1f8b6;
   margin: 0 auto; 
   justify-items: center;
} 
 
.Containercontact div{
    display: flex;
    flex-direction: column;
    background-color: #e8f1f2bc;
    width: 300px;
    height: 420px;
    gap: 20px;
    position: absolute;
    margin-top: 90px;
    margin-left: 1400px;
}
.Containercontact h1{
    font-size: 32pt;
    color: #767676;
}
.Containercontact p{
    font-size: 16pt;
    color: #767676;
}
.Containercontact span{
    font-weight: bolder;
}
.Containercontact input{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
}
.Containercontact textarea{
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
}
.Containercontact .envoyer{
    color: white;
    background-color: #4eb1d5;
    border: none;
    width: 155px;
    height: 34px;
    margin: 0 auto;
}

/*Footer*/
footer p{
    margin: 0 auto;
    font-size: 16pt;
    text-align: center;
    height: 50px;
}

@media screen and (max-width : 767px){
header{
    height: 100px;
}
header div{
   margin-left: 30px;
}
header div h1{
    font-size: 12pt;
}
header ul{
    flex-direction: column;
    gap:0px
}
header li{
   display: none;
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #767676;
    margin: 6px 0;
}
  
.image1, .image2, .image3 {
   margin-top: 200px;
}

.Containerdiaporama div{
  margin: 0;
  padding: 0;
  display: flex;
}
.Containerdiaporama h1{
    color: #767676;
   font-size: 28pt;
   width: 500px;
}
.Containerdiaporama h2{
    color: #767676;
    width: 450px;
}
.Containerdiaporama button{
 margin-left: 450px;
 margin-top: -50px;
}
.Containernosservices{
   height: 1000px;
}
.Containernosservices h1{
    font-size: 25pt;
}
.Containernosservices p{
    text-align: center;
}
.Containernosservices .imageettexte{
display: flex;
flex-direction: column;
}
.imageettexte img{
    width: 100%;
}
.blocarticle img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.blocarticle p{
    text-align: left;
    width: 80%;
}
.Containernosprojets{
    margin: 0 auto;
}
.Containernosprojets h1{
    font-size: 25pt;
}
.Containernosprojets{
    display: flex;
    flex-direction: column;
  
}
.Containernosprojets p{
    text-align: center;
    width: 90%;
}
.Containernosprojets div{
margin: 0 auto;
display: flex;
flex-direction: column;
margin-bottom: 10px;
}
.Containercontact{
    height: 600px;
}

.Containercontact img{
  width: 100%;
   margin:0 auto;
}
.Containercontact block{
    height: 600px;
    margin: 0 auto;
   
}
.Containercontact div{
   margin: 0 auto;
    width: 250px;
    margin-left: 200px;
    margin-top: 150px;
}
.Containercontact input{
    width: 200px;
}
.Containercontact textarea{
    width: 200px;
}
footer p{
    width: 300px;
    
}


@media screen and (min-width:768px) and (max-width:1850px) {
.Containerdiaporama div{
    margin: 0 auto;
}
}
